{% extends "_base.html" %}

{% block content %}
    <div class="flex items-center justify-center h-screen bg-gray-50">
        <div class="flex-col  space-y-4">
          <h1 class="mb-6 text-4xl">DaisyUI + Flask + Tailwind CSS Starter</h1>
          <div class="flex gap-4">
            <button class="btn btn-primary">Primary Button</button>
            <button class="btn btn-secondary">Secondary Button</button>
            <button class="btn btn-accent">Accent Button</button>
            <button class="btn w-64 rounded-full">Button</button>
          </div>

          <div class="flex gap-4">
                <div class="card bg-base-100 w-96 shadow-sm">
                    <figure>
                        <img
                        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                        alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Card Title</h2>
                        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}